/* Estilos para el cuerpo de la página */
body {
    font-family: 'Raleway', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
header {
    text-align: center;
    background-color: #0066cc;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
}

/* Estilos para el carrusel de imágenes */
.carousel-container {
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
}

/* Estilos para el botón */
.btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    background-color: #0066cc;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0055aa;
}
